@layer components {
  .ui--input {
    &-label {
      @apply inline-flex items-center leading-4;

      &.required::after {
        @apply ml-1 text-base text-rose-600;
        content: ' *';
      }

      .icon {
        @apply mr-2 border-r border-solid border-neutral-900 pr-1 text-base leading-4 text-neutral-300;
      }

      .text {
        @apply text-sm text-neutral-300;
      }
    }

    &-desc {
      @apply mt-2 text-xs text-neutral-400;
    }

    &-field {
      @apply relative flex;

      input {
        @apply mt-2 block h-12 rounded-md bg-neutral-500/10 px-4 font-normal text-neutral-100 transition-all;

        &:focus {
          @apply bg-neutral-500/5;
          box-shadow: 0 0 0 1px rgba(white, 0.08);
        }

        & ~ .icon {
          @apply absolute bottom-[1px] right-0 flex h-11 w-8 items-center justify-center text-neutral-400;

          &.is-text {
            @apply text-neutral-100;
          }
        }

        @include attr('type', 'password') {
          @apply font-bold tracking-[2px];
        }

        @include attr('type', ('number', 'search')) {
          @apply appearance-none;
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            @apply appearance-none;
          }
        }
      }
    }

    &-errors {
      @apply block text-xs font-normal text-red-500;
    }
  }
}
