.ui--login {
  &-modal {
    backdrop-filter: blur(1rem);
  }

  &-header {
  }

  &-form {
  }

  &-footer {
    .btn {
      &-addon {
        @apply h-12 w-12 rounded-xl bg-neutral-900/30 hover:bg-neutral-950;
        box-shadow:
          0 0 0 3px rgba(10 10 10 / 1),
          0 0 0 4px rgba(25 25 25 / 1);

        .icon {
          @apply block h-6 w-6 object-contain object-center;

          &.github {
            filter: invert(1) opacity(0.8);
          }
        }
      }
    }
  }
}

@include class-modal('md-login') {
  padding-top: 4rem;
}
