.ui--modal {
  &.none {
    @apply pointer-events-none;
  }

  &-wrapper {
    @apply fixed inset-0 z-40 grid items-start overflow-x-hidden bg-black/80 p-4;

    &.enter-active,
    &.enter-done {
      @include class-contains('-container') {
        @apply translate-y-0 opacity-100;
      }
    }

    // &.is-default {}

    &.is-dialog {
      @include class-endWith('modal-container') {
        @apply min-w-[320px] rounded-xl bg-neutral-900 px-8 pb-6 pt-8;
        box-shadow: 0 10px 20px rgba(#1b2430, 0.08);
      }

      @include class-endWith('modal-footer') {
        display: grid;
        gap: 1rem;
        grid-auto-flow: column;
        justify-content: flex-end;

        .btn {
          min-width: 80px;
          width: auto;
          height: 30px;

          &:focus {
            outline: 1px solid var(--color-space-3);
            outline-offset: 1px;
          }

          .text {
            text-transform: capitalize;
            font-size: var(--font-size-small);
            font-weight: bold;
          }
        }
      }
    }
  }

  &-container {
    position: relative;
    margin: 0 auto;
    min-width: 256px;
    transition: all 200ms ease;
    transform: translate(0, -10px);
    opacity: 0;
  }

  &-header {
    position: relative;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    background-color: var(--color-space);
    user-select: none;

    .title {
      color: var(--color-primary);
      font-size: var(--font-size-regular);
      font-weight: bold;
    }

    .btn {
      &-close {
        width: 24px;
        height: 24px;
        color: var(--color-red);

        .icon {
          font-size: var(--font-size-medium);
        }
      }
    }
  }

  // &-boby {}

  // &-footer {}
}
