// SET global classes.
.ui- {
  &-app {
    &-container {
    }
  }

  &-router {
    &-view {
      // max-width: 1440px;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      padding-bottom: 110px;
    }
  }
}
