// SET global classes.
.ui- {
  &-app {
    &-container {
      transition: opacity 640ms ease-in;

      &:not(.ready) {
        opacity: 0;
      }
    }
  }

  &-router {
    &-view {
      max-width: 1440px;
      margin: 0 auto;
      padding: 0 1rem 110px;
    }
  }
}
