html,
body {
  @apply scroll-smooth bg-theme-dark font-primary text-white antialiased;
  background-image: linear-gradient(rgba(white, 0.01) 2px, transparent 2px),
    linear-gradient(90deg, rgba(white, 0.01) 2px, transparent 2px),
    linear-gradient(rgba(white, 0.02) 1px, transparent 1px),
    linear-gradient(90deg, rgba(white, 0.02) 1px, transparent 1px);
  background-size:
    100px 100px,
    100px 100px,
    20px 20px,
    20px 20px;
  background-position:
    -2px -2px,
    -2px -2px,
    -1px -1px,
    -1px -1px;
}

* {
  &::-webkit-scrollbar {
    @apply size-2;
  }

  &::-webkit-scrollbar-track {
    @apply bg-theme-dark;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-sm border-x-2 border-y-0 border-solid border-theme-dark bg-theme-light/10 hover:bg-theme-light/20;
  }
}

a {
  @apply inline-block cursor-pointer select-none text-inherit no-underline outline-none;
}

img {
  @apply pointer-events-none select-none;
}

label {
  @apply select-none;
}

button,
input,
select,
textarea {
  @apply border-none bg-transparent font-primary shadow-none outline-none first-line:text-inherit;
}

button {
  @apply select-none;
}

input,
select,
textarea {
  @apply w-full;
}

input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    @apply m-0 appearance-none;
  }

  &[type='number'] {
    appearance: textfield;
  }
}
