body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  outline: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

html, body {
  color: #fff;
  background-color: #000;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-medium);
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}


code, pre {
  font-family: var(--font-family-code);
}

hr {
  border: unset;
  margin: 0.75rem 0;
  border-bottom: 1px solid var(--color-border-1);
}

ul,
ol {
  list-style: none;
}

img,
label {
  width: inherit;
  user-select: none;
}

img,
video {
  user-select: none;
  pointer-events: none;
}

button, input, select, textarea {
  font-family: var(--font-family-primary);
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: unset;
  background-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

button {
  cursor: pointer;
  outline: 0;
  padding: 0;
  border: 0 solid transparent;
  box-shadow: 0 0 0 transparent;
  user-select: none;
}

input, select, textarea {
  padding: 0;
  outline: 0;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 transparent;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  cursor: pointer;
  display: inline-block;
  user-select: none;
}
